.option {
  display: flex;
  flex-direction: column;
  h4 {
    font-weight: 500;
  }
  .quest-index {
    text-align: center;
  }
  .option-container {
    display: flex;
    flex-direction: column;
    .mat-radio-disabled {
      color: gray;
      &.correct {
        color: #067706;
        .mat-radio-outer-circle {
          color: #067706 ;
        }
        .mat-radio-inner-circle {
          background-color: #067706 ;
        }
      }

      &.mat-radio-checked.incorrect {
        color: #a80000;
        .mat-radio-outer-circle {
          color: #a80000;
        }
        .mat-radio-inner-circle {
          background-color: #a80000;
        }
      }
    }
    .comment {
      &.correct {
        color: #067706;
      }
      &.incorrect {
        color: #a80000;
      }
    }
  }
}

.custom-box {
  display: flex ;
  color: #000;
  background-color: #fff;
  flex-direction: column;
  width: 60%;
  margin: auto;
  font-size: 1.3rem;
  @media (max-width: 580px){
    margin: 1rem;
    width: auto;
  }
  a {
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
}

.mat-card-subtitle {
  display: flex ;
  justify-content: center;
}

.mat-card-header {
  flex-direction: column;
  align-items: start;
  padding-bottom: 1rem;
  .mat-card-header-text {
    align-self: center;
  }
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.mat-radio-button {
  line-height: 2rem;
}

button {
  background-color: #ffff57;
  color: #a80000;
  border: none;
  padding: 0 1rem;
  box-shadow: 10px 10px 0px #000;
  margin-bottom: 1rem;
  &::first-letter {
    color: #000;
  }
}
