<mat-card class="container custom-box question-card" *ngIf="question; else result">
  <mat-card-content class="container with-border">
      <mat-card-header>
         <mat-card-title>Знаете ли вы, на что шли россияне ради денег в 2019 году?</mat-card-title>
         <p>
             Если вас разочаровали ваши собственные итоги года, не расстраивайтесь — у многих он был еще хуже.
             Мы изучили новости за уходящий год и нашли эти жемчужины преступлений во имя финансов.
         </p>
         <p>
           Проверьте, насколько хорошо вы понимаете соотечественников и их тягу к деньгам.
         </p>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group class="option mat-typography"
                         (change)="onAnswered()"
                         [disabled]="question.answered"
                         aria-label="Select an option">
          <h4 class="quest-index">{{question.index}} / {{questions.length}}</h4>
          <h4>{{question.story}}</h4>
          <div class="option-container" *ngFor="let option of question.options">
            <mat-radio-button
                              value="{{option.text}}{{question.index}}"
                              (change)="onChecked(option)"
                              [class.correct]="option.correct && question.answered"
                              [class.incorrect]="!option.correct && option.chosen && question.answered"
                              autocomplete="off">
                              {{option.text}}
            </mat-radio-button>
            <small class="comment"
               *ngIf="option.chosen || (option.correct && question.answered)"
               [class.correct]="option.correct && question.answered"
               [class.incorrect]="!option.correct && option.chosen && question.answered">
               {{option.comment}}
            </small>
          </div>
        </mat-radio-group>
      </mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="question.answered && question.index != questions.length"
            mat-button (click)="nextQuestion(question)">Следующий вопрос</button>
    <button *ngIf="question.answered && question.index == questions.length"
            mat-button (click)="nextQuestion(question)">Узнать результат</button>
  </mat-card-actions>
</mat-card>

<ng-template #result>
  <mat-card class="container custom-box question-card">
    <mat-card-content class="container with-border">
        <mat-card-header>
           <mat-card-title>Спасибо за прохождение!</mat-card-title>
           <mat-card-subtitle>Вы набрали {{score}} из {{questions.length}}</mat-card-subtitle>
        </mat-card-header>
        <div *ngIf="score<=2">
          <p>Вы только догадываетесь, о чем поют в блатных песнях</p>
          <p>
            Иногда вы догадываетесь, на что готовы россияне ради денег, но в целом большинство криминальных новостей
            оставляют шлейф недоумения. Вы слабо понимаете, о чем поют в блатных песнях, и с трудом верите, что кто-то
            решит угнать машину, чтобы спрятаться в ней с собакой от дождя.
          </p>
        </div>
        <div *ngIf="3<=score && score<=5">
          <p>Вы знаете, что в России может произойти все что угодно</p>
          <p>
            Вы легко вычисляете очевидные мошеннические схемы, но к более серьезным уловкам пока не готовы.
            Вы предпочитаете жить и зарабатывать деньги честно, а если и нарушаете правила, то только в мелочах
            вроде пиратских фильмов и неправильной парковки.
          </p>
        </div>
        <div *ngIf="6<=score && score<=7">
          <p>Вы знаете, чего ждать от преступников</p>
          <p>
            Вы знаете, что ради денег люди совершают странные и необъяснимые поступки, но некоторые из них шокируют даже вас.
            Тем не менее вы еще во время первой серии детективов вычисляете убийцу, а в «Преступлении и наказании»
            поняли все еще по названию.
          </p>
        </div>
        <div *ngIf="score>7">
          <p>Вы мыслите как преступник</p>
          <p>
            Вы первым узнаете о новых мошеннических схемах и видите чужие попытки нажиться за ваш счет насквозь.
            Вас давно не удивляют сюжеты криминальных новостей, и вы так хорошо знаете, на что люди идут ради денег,
            как будто сами не всегда соблюдаете правила, если чувствуете безнаказанность.
          </p>
        </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="resetQuiz()">Пройти заново</button>
    </mat-card-actions>
  </mat-card>
</ng-template>
